body{
	font-family: arial;
}
header {
	background-color: #ea5169;
	padding: 20px 10px;
	overflow: hidden;
	
}
.logo {
	font-weight: bold;
}

header a {
	float: left;
	color: black;
	font-size: 36px;
	text-decoration: none;
	padding: 12px;
	text-align: center;
}

.header-right {
	float: right;
  }

  img {
	  width: 800px;
	  height: 600px;
	  margin-left: auto;
	  margin-right: auto;
	  display: block;
  }

  p {
	  font-size: 18px;
	  color: blue;
	  padding: 5px 5px 5px 5px;
  }

  footer {
	 background: #aaa;color:white;
	 margin: 5px 0px;
	 padding: 10px;
  }



