.black-border {
    border-style: solid;
    border-width: 10px;
    border-color: rgb(233, 219, 16);
}

.red-border {
    border-style: solid;
    border-width: 10px;
    border-color: red;
}

body {
    width: 20%;
    height: 20%;
}