<form action="/" method="POST">
    <input name="query" />
    <button>Search</button>
</form>

<% for book in @books do %>
    <div class="container">
        <div class="row valign-wrapper">
            <div class="col m3 s12">
                <img src=<%=book.image_link%>>
            </div>
        <div class="col m9 s12">
                <ul>
                    <li>Title: <%= book.title %></li>
                    <li>Author: <%= book.authors %></li>
                    <li>Preview: <%= book.info_link %></li>
                </ul>
            </div>
        </div>
    </div>
<% end %>